<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mydemo">

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
    建议将AndroidMannifest.xml文件android:allowBackup属性设置为false。当allowBackup未设置值
    （默认值为true）或者标志值为true时，攻击者可通过adb backup和adb restore来备份和恢复应用程序数据。
    -->
    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="${fabric_apikey}" /> -->
        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="${UMENG_CHANNEL_VALUE}" /> -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e6c6ff9086549350c2f37ca72a48653b1e08e79c" />

        <receiver android:name=".remoteview.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />

            <intent-filter>
                <action android:name="com.ryg.chapter_5.action.CLICK" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.webview.WebViewDemo" />
        <activity android:name=".view.webview.WebViewDemo2" />
        <activity android:name=".net.volley.VolleyActivity" />
        <activity
            android:name=".view.adapter.MyListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.timer.TimerDemoActivity" />
        <activity android:name=".view.animation.AnimationActivity" />
        <activity android:name=".view.animation.TestImageLoaderActivity" />
        <activity
            android:name=".widget.test.WidgetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.material.CoordActivity"
            android:theme="@style/CoordinatorStyle" />
        <activity android:name=".view.popu.LiuyanActivity" />
        <activity
            android:name=".view.viewflipper.ViewFlipperActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".downloadmanager.DownloadService" />

        <activity android:name=".rx.rxjava.RxjavaTestActivity" />
        <activity android:name=".fileprovider_client.FileProviderTestActivity" />
        <activity android:name=".remoteview.NotificationTestActivity" />
        <activity
            android:name=".remoteview.ReceiveNotificationActivity"
            android:process=":remote" />
        <activity android:name=".greendaotdemo.DbTestActivity" />
        <activity android:name=".rx.retrofit.NetTestActivity" />
        <activity android:name=".view.DialogActivity" />
        <activity
            android:name=".annotation.AnnotaionActivity"
            android:label="@string/title_activity_annotaion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.dragview.DragViewactivity" />
        <activity android:name=".downloadmanager.AutoUpdateActivity" />
        <activity android:name=".view.recycledemo.RecyclerDemoActivity" />
        <activity android:name=".mobile.PackageManagerActivity" />
        <activity android:name=".MediaCenterActivity" />
        <activity android:name=".image_picker.ImageGridActivity" />
        <activity android:name=".image_picker.clip.ClipActivity" />
        <activity android:name=".viewpager.ViewPagerGuideActivity"></activity>
    </application>

</manifest>