<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e6c6ff9086549350c2f37ca72a48653b1e08e79c" />

        <receiver android:name=".remoteview.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />

            <intent-filter>
                <action android:name="com.ryg.chapter_5.action.CLICK" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".webview.WebViewDemo" />
        <activity android:name=".webview.WebViewDemo2" />
        <activity android:name=".volley.VolleyActivity" />
        <activity
            android:name=".adapter.MyListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".timer.TimerDemoActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".animation.TestImageLoaderActivity"/>
        <activity
            android:name=".widget.test.WidgetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".material.CoordActivity"
            android:theme="@style/CoordinatorStyle" />
        <activity android:name=".popu.LiuyanActivity" />
        <activity
            android:name=".viewflipper.ViewFlipperActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".service.DownloadService" />

        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".test_java.RxjavaTestActivity" />
        <activity android:name=".fileprovider_client.FileProviderTestActivity" />
        <activity android:name=".remoteview.NotificationTestActivity" />
        <activity
            android:name=".remoteview.ReceiveNotificationActivity"
            android:process=":remote" />
        <activity android:name=".greendaotdemo.DbTestActivity" />
        <activity android:name=".retrofit.NetTestActivity"></activity>

    </application>

</manifest>